<%- include('header') -%>


  <section class="articles">
    <div class="articles__container">
      <% data.forEach(function(data){ %>
        <div class="articles__items">
          <a href=<%=data.attributes.slug%>>
            <div class="items__img">
              <% if (data.attributes.image !== undefined) { %>
                <img alt="mynd" src=<%=data.attributes.image %> >
                <% } %>
            </div>
          </a>
          <h2>
            <%= data.attributes.title %>
          </h2>
          <p>
            <%= data.attributes.date %>
          </p>
        </div>
        <% })%>
    </div>
  </section>

  <%- include('footer') -%>
