<%- include('header') -%>


  <section class="articles">
    <div class="articles__container">
      <% data.forEach(function(data){ %>
        <div class="articles__items">
          <div class="items__img">
            <a href=<%=data.attributes.slug%>>
                <% if (data.attributes.image !== undefined) { %>
                  <img src=<%=data.attributes.image %>>
                <% } %>
            </a>
          </div>
          <h2>
            <%= data.attributes.title %>
          </h2>
          <p>
            <%= data.attributes.date %>
          </p>
        </div>

        <% })%>
    </div>
  </section>

  <%- include('footer') -%>
